body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.5;
}

form input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Отступ между элементами */
    align-items: flex-start;
}

.form-group label {
    display: flex;
    align-items: center; /* Центрирование текста и чекбокса по вертикали */
    gap: 8px; /* Расстояние между чекбоксом и текстом */
    font-size: 16px; /* Размер текста */
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
